@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #222831;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-left{
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-left > h1{
    color: #77ffc0;
}

.left-login-img{
    width: 30vw;
}

.login-rigth{
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #393E46;
    border-radius: 1.5rem;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1{
    color: #77ffc0;
    font-weight: 800;
    margin: 0;
}

.text-field{
    width: 100%;
    height: auto;
    border: none;
    background: #454e59;
    border-radius: 2rem;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 6px;
    box-shadow: 0px 10px 40px #00000056;
}

.text-field input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #454e59;
    color: #77ffc0;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.text-field label{
    color: #f0ffffde;
    margin-bottom: 6px;
    flex-direction: column;
    display: flex;
}

.text-field .eyeClosed{
    width: 20px;
    cursor: pointer;
}

.btn-login{
    width: 88%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000;
    background: #77ffc0;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;
}

h1{
    font-weight: 600;
    font-size: 30px;
}

.box-login{
    width: 100%;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    
}

@media only screen and (max-width: 1050px) {
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 1450px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 19200px){
    .card-login{
        width: 80vw;
        
    }
    .login-left{
        width: auto;
        height: 30vw;
    }
}


@media only screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }

    .login-left h1{
        display: none;
    }

    .login-left{
        width: 100%;
        height: auto;
    }

    .login-rigth{
        width: 100%;
        height: auto;
    }

    .left-login-img{
        width: 50vw;
    }

    .card-login{
        width: 90vw;
    }
}
